.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .loginInner {
    padding: 50px;
    border: 1px solid grey;
    text-align: center;
    background-color: white;
  }

  .loginInner h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    margin: 80px 0 50px 0;
    font-size: 15px;
  }

  .loginForm input {
    width: 350px;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fafafa;
    outline: none;
  }

  .loginForm button {
    padding: 15px 0;
    background-color: #1a73eb;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    opacity: 0.5;
    cursor: default;

    &.active {
      opacity: 1;
      cursor: cursor;
    }
  }

  .loginInner a {
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
  }
}
