* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-size: 14px;
  line-height: 18px;
}

body,
input {
  background-color: #fafafa;
}

button {
  border: none;
  outline: none;
}
