.feed {
  display: flex;
  flex-direction: column;
  width: 616px;
  margin-bottom: 60px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  background: rgba(var(--d87, 255, 255, 255), 1);

  ul {
    display: flex;
    margin: 0;
    padding-left: 20px;
    list-style: none;
  }

  li:not(:first-child) {
    margin-left: 22px;
  }

  .profileImage {
    border: 0.5px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 50%;
  }

  .articleHeader {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 16px;
  }

  .Username {
    display: inline-block;
    text-decoration: none;
    margin-left: 14px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      text-decoration-line: underline;
    }
  }

  .articleOptionBtn {
    position: absolute;
    right: 12px;
    background: none;
    cursor: pointer;
  }

  .articleIcons {
    align-content: center;
    margin-top: 4px;
    padding: 0 16px;

    ul {
      padding: 0;
    }

    li:last-child {
      margin-left: auto;
      margin-right: 0px;
    }

    svg {
      margin: 8px 0;
    }
  }

  .articleLikes {
    margin-bottom: 8px;
    padding: 0 16px;
    font-weight: 600;
  }

  .articleComments {
    padding: 0 16px;

    ul {
      flex-direction: column;
      padding: 0;
    }

    li {
      margin: 0 0 4px;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }

  .commentsInputContainer {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  }

  .emoticons {
    margin: 0;
    padding: 8px 16px 8px 0px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }

  .articleTime {
    margin-bottom: 8px;
    padding-left: 16px;
    font-size: 10px;
    color: rgba(var(--f52, 142, 142, 142), 1);
  }
}
